################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ScifiDruid/DesignTimeBuild/.dtbcache.v2
/.vs/ScifiDruid/v17/.suo
/ScifiDruid/bin/Debug/net6.0/ScifiDruid.dll
/ScifiDruid/bin/Debug/net6.0/ScifiDruid.exe
/ScifiDruid/bin/Debug/net6.0/ScifiDruid.pdb
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Fonts/font60.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Fonts/font30.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Fonts/font20.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/.mgstats
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Main/ConfirmExit/YesGlow.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Main/ConfirmExit/Yes.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Main/ConfirmExit/NoGlow.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Main/ConfirmExit/No.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Main/ConfirmExit/ConfirmQuitPopUp.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Main/MainMenu/SettingButton.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Main/MainMenu/PlayButton.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Main/MainMenu/MainMenuBG.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Main/MainMenu/GameLogo.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Main/MainMenu/ExitButton.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Main/MainMenu/Black.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Main/Setting/SettingBG.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Main/Setting/DoneButton.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Main/Setting/ArrowRButton.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Main/Setting/ArrowButton.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/Characters/Player/playerSheet.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/ConfirmExit/YesGlow.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/ConfirmExit/Yes.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/ConfirmExit/NoGlow.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/ConfirmExit/No.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/ConfirmExit/ConfirmExitPopUp.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/Pause/RestartGlow.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/Pause/Restart.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/Pause/PausePopUpBG.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/Pause/ExitGlow.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/Pause/Exit.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/Pause/ContinueGlow.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/Pause/Continue.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/Sound/ArrowRButton.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/Sound/ArrowButton.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/WinLose/VictorySign.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/WinLose/Restart.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/WinLose/Next.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/WinLose/Mainmenu.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/WinLose/DefeatSign.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/White.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/GroundSprite.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/Green.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/PlayScreen/Black.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/Skills/PlayerSkill.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Play/StageScreen/Stage1Tileset/tileset1.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Splash/SplashScreen/GameLogo.mgcontent
/ScifiDruid/Content/obj/DesktopGL/net6.0/Content/Pictures/Splash/SplashScreen/Black.mgcontent
/ScifiDruid/obj/Debug/net6.0/ref/ScifiDruid.dll
/ScifiDruid/obj/Debug/net6.0/refint/ScifiDruid.dll
/ScifiDruid/obj/ScifiDruid.csproj.nuget.g.props
/ScifiDruid/obj/ScifiDruid.csproj.nuget.dgspec.json
/ScifiDruid/obj/project.nuget.cache
/ScifiDruid/obj/project.assets.json
/ScifiDruid/obj/Debug/net6.0/ScifiDruid.pdb
/ScifiDruid/obj/Debug/net6.0/ScifiDruid.genruntimeconfig.cache
/ScifiDruid/obj/Debug/net6.0/ScifiDruid.GeneratedMSBuildEditorConfig.editorconfig
/ScifiDruid/obj/Debug/net6.0/ScifiDruid.dll
/ScifiDruid/obj/Debug/net6.0/ScifiDruid.csproj.FileListAbsolute.txt
/ScifiDruid/obj/Debug/net6.0/ScifiDruid.csproj.CoreCompileInputs.cache
/ScifiDruid/obj/Debug/net6.0/ScifiDruid.csproj.AssemblyReference.cache
/ScifiDruid/obj/Debug/net6.0/ScifiDruid.assets.cache
/ScifiDruid/obj/Debug/net6.0/apphost.exe
